
.post-edit-link{
	.btn;
	.btn-xs;
	.btn-default;
	.pull-right;
}

p.form-allowed-tags code{
	display: inline-block;
	white-space: pre-wrap;
}

input[type='submit']{
	.btn;
	.btn-primary;
}

.well{
	.clearfix;
}

footer{
	color: @white;
	padding: 1em 0 2em 0;
	a{
		color: @white !important;
	}
}


#sidebar ul{
	margin-left: 0 !important;
	li{
		list-style-type: none;
	}
}

.well{
	.longShadowBox(@gray-light, 22, 100) !important;
}

.comment-form-comment{
	.form-group;
	label{
		font-weight: normal;
		font-size: 1em;
		font-family: @font-family-serif;
	}
	textarea{
		.form-control;
		min-height: 200px;
	}
}