.aligncenter{
	text-align: center;
}

.alignright{
	float: right;
	margin: 1em 0 1em 1em;

}

.alignleft{
	float: left;
	margin: 1em 1em 1em 0;
}

.gallery-caption, dt.gallery-icon{
	padding: 0;
}

dl.gallery-item{
	margin: 1em 0;
}

// Images

.full-width{
	margin: @line-height-computed 0;
	width: 100%;
	height: auto;
}

.a-corte{
	margin: 0 -(@well-padding + 2) !important;
	width: 120% !important;
}

img.size-full,
img.size-large{
	.a-corte();
}

img{
	&.size-full,
	&.size-large{
		.a-corte();
	}
	&.alignleft{
		float: left;
		margin: 1em 1em 1em 0;
	}
	&.alignright{
		float: right;
		margin: 1em 0 1em 1em;
	}
}

.gallery-caption,
dt.gallery-icon{
	font-size: 11px;
	font-weight: bold;
	text-align: left;

	a{
		img{
			border: none !important;
			margin-bottom: 1ex;
			&.attachment-large{
				width: 100%;
				height: auto;
			}
		}
	}
}

.gallery{
	dt{
		dl{
			a{
				img,
				img.attachment-large{
					.a-corte();
				}
			}
		}
	}
}

img.attachment-large{
	margin: 0 -(@well-padding + 2);
	width: 120% !important;
}